<div class="row">
  <div class="columns">
    <h2>Edit subject</h2>
  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= render 'form' %>

  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= link_to 'Show', @subject, class: 'button medium' %>
  <%= link_to 'Back', subjects_path, class: 'button medium' %>
  </div>
</div>
