<div class="row">
  <div class="columns">
    <h2>Edit project</h2>
  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= render 'form' %>

  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= link_to 'Show', [@subject, @step], class: 'button medium' %>
  </div>
</div>
